* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #ff9900;
  --secondary-color: rgb(255, 166, 0);
  --text-color: #303030;
  --background-color: #f1f6fd;
  --fade-color: rgba(255, 194, 82, 0.8);
}

html {
  scroll-behavior: smooth;
}

.dashboard-flex-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.dashboard-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  transition: margin-left 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  margin-left: 0;
}

.dashboard-container.menu-open {
  transition: width 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-right: 1px solid #ccc;
  visibility: visible;
  pointer-events: auto;
  height: 100vh;
}

.dashboard-header {
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: #ffffff;
  border-bottom: 1px solid #cccccca1;
}

.dashboard-title {
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
}

.dashboard-subtitle {
  font-size: 20px;
  color: #000000;
  margin-top: 15px;
  margin-left: 10px;
}

.dashboard-content {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}


.add-informations-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 300px;
  height: 350px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-left: none;
  box-shadow: 3px 5px 0px 0px #c0c0c0 ;
  border-radius: 5px;
}

.dashboard-section-title {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  color: #303030;
  text-shadow: #3f8cff6c 1px 1px 5px;
}

.dashboard-informations-text {
  font-weight: 300;
  font-size: 18px;
  color: black;
  text-shadow: #00000033 1px 1px;
  margin-bottom: 8px;
}

