.menu-autsuporte {
    width: 0;
    min-width: 0;
    min-height: 100%;
    max-width: 280px;
    overflow: hidden;
    transition: width 0.7s cubic-bezier(0.23, 1, 0.32, 1);
    background: linear-gradient(180deg, #ffffff 80%, #04204b 110%);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-right: 1px solid #ccc;
    position: relative;
  }
  
  .menu-autsuporte.open {
    width: 280px;
    min-width: 280px;
    min-height: 100vh;
  }
  
  .menu-autsuporte .menu-autsuporte-user,
  .menu-autsuporte .menu-options-box {
    opacity: 0;
    transition: opacity 0.3s 0.2s;
  }
  
  .menu-autsuporte.open .menu-autsuporte-user,
  .menu-autsuporte.open .menu-options-box {
    opacity: 1;
  }
  
  .btn-menu {
    border: none;
    cursor: pointer;
    margin-right: 30px;
    padding: 3px 10px;
    background-color: #04204b;
    color: rgb(255, 255, 255);
  }
  
  .btn-menu:hover {
    transform: scale(1.03);
    transition: all 0.3s;
  }
  
  .menu-autsuporte-user {
    display: flex;
    align-items: center;
    margin: auto;
    color: black;
    margin-top: 40px;
    
  }
  
  .user-initial {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
  }
  
  .user-image {
    border-radius: 50%;
    margin: 0 15px;
  }
  
  .menu-user-name {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
  }

  .menu-user-profile-class {
    font-size: 11px;
    color: #003cff;
    margin-left: 5px;
  }
  
  .menu-options-box {
    margin-top: 50px;
    display: grid;
    width: 100%;
    gap: 8px;
  }
  
  .menu-options-box a {
    text-decoration: none;
    color: #525252;
  }
  
  .menu-options-box a:hover{
    color: black;
  }
  
  .menu-options-user,
  .menu-options-dashboard,
  .menu-options-licences,
  .menu-options-errors,
  .menu-options-clients,
  .menu-options-apilogs,
  .menu-options-maintenance,
  .menu-options-verifylocks {
    display: flex;
    font-size: 1rem;
    line-height: 2rem;
    align-items: center;
    font-weight: 300;
    cursor: pointer;
    color: #525252;
  }

  .menu-options-user:hover,
  .menu-options-dashboard:hover,
  .menu-options-licences:hover,
  .menu-options-errors:hover,
  .menu-options-clients:hover,
  .menu-options-apilogs:hover,
  .menu-options-maintenance:hover,
  .menu-options-verifylocks:hover {
    background-color: #f7f7f7;
    color: rgb(0, 0, 0);
    
  }
  
  .menu-options-hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 15px;
  }


