* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.autsuporte-container-dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: #04204b;
    height: 70px;
    color: white;
  }
  
  .autsuporte-header {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
  
  .autsuporte-header-title {
    display: flex;
    color: white;
    font-size: 1.2rem;
  }
  
  .autsuporte-header-options {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 25px;
    color: white;
    margin-right: 20px;
    font-size: 14px;
    background-color: #04204b;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.719);
  }
  
  .autsuporte-header-options:hover {
    cursor: pointer;
    background-color: #043580;
    transition: background-color 0.3s ease;
  }

.autsuporte-header-options a {
    color: white;
}