* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.test {
    background-color: rgb(16, 19, 24)
}

#client-ddd {
    width: 50px;
}

#client-alternative-info {
    width: 250px;
}

.search-clients-info {
    display: flex;
    width: fit-content;
    margin: auto;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    
    label {
        display: flex;
        padding: 5px;
        color: var(--primary-color);
        font-weight: 300;
        text-shadow: 0px 0px 2px rgba(226, 193, 86, 0.555);
    }

    input {
        height: 30px;
        width: 250px;
        padding: 15px;
        margin: 5px;
        font-size: 15px;
        outline: none;
        border-radius: 7px;
        font-weight: 200;
        border: 1px solid rgb(64, 79, 97);
        color: rgb(255, 255, 255);
        background-color: #1f1f1f;
    }

    input:disabled {
        color: rgba(204, 216, 233, 0.877);
        border: 1px solid rgb(49, 49, 49);
        background-color: #181818;
        cursor: not-allowed;
        outline: 1px solid rgb(36, 44, 54);
    }

    input:focus {
        border: 1px solid rgb(255, 145, 0);
        color: white;
        border-top: none;
        border-left: none;
        border-right: none;
        transition: 0.5s all;
    }

    legend {
        margin: auto;
        box-shadow: 0px 4px 5px -5px rgb(255, 145, 0);
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.884);
        padding: 5px 25px;
        font-size: 20px;
        background-color: var(--primary-color);
        color: rgb(255, 255, 255);
        font-weight: 200;
        text-shadow: 1px 2px 3px rgba(12, 8, 4, 0.767);
    }

    fieldset {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin: 10px;
        padding: 15px;
        border: 1px groove;
        border-radius: 15px;
        margin-bottom: 50px;
        background-color: rgba(16, 19, 24, 0.925);
        box-shadow: 0px 5px 10px -5px rgb(255, 255, 255);
    }
}

.search-clients-buttons-info {
    display: flex;
    position: fixed;
    padding: 12px;
    z-index: 3;
    width: 100%;
    bottom: 0;
    background-color: rgba(3, 16, 36, 0.541);
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.div-client-contacts-maintenance {
    display: flex;
    width: auto;
}

.agroup-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
}

.client-contacts-info {
    min-width: 49%;
}

.client-manteinance-info {
    min-width: 48.5%;
}

.client-access-info {
    width: 98%;
}

.selects-option {
    display: flex;
    flex-direction: column;
    width: 170px;
    margin: 5px;
    gap: 2px;
}


.selects-option-fatemail {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-update-clients {
    min-width: 100px;
    height: 30px;
    font-size: 15px;
    background-color: rgba(32, 40, 51, 0.808);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(235, 102, 24, 1);
    font-weight: 200;
}

.btn-update-clients:hover {
    scale: 1.013;
    transition: 0.4s;
    border-color: rgba(32, 40, 51, 0.808);
    background-color: rgba(235, 102, 24, 1);
}

.btn-save-clients {
    min-width: 100px;
    height: 30px;
    font-size: 15px;
    background-color: rgba(32, 40, 51, 0.808);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(235, 102, 24, 1);
    font-weight: 200;
}

.btn-save-clients:hover {
    scale: 1.013;
    transition: 0.4s;
    border-color: rgba(32, 40, 51, 0.808);
    background-color: rgba(235, 102, 24, 1);
}

.input-erro {
    border: 2px solid red !important;
    background-color: #ffeaea;
}


.alert-modal-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.alert-modal {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.13);
}

.alert-modal h1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(29, 33, 39);
}

.alert-modal p {
    font-size: 16px;
    margin-bottom: 20px;
    color: rgb(63, 72, 85);
}

#alert-status {
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: rgb(252, 164, 0);
}

.btn-confirm {
    background-color: rgb(235, 102, 24);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 200;
}

.btn-confirm:hover {
    background-color: rgb(255, 145, 0);
    transition: 0.4s;
}

.btn-alert-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 5px;
}

.btn-yes {
    display: none;
    background-color: rgb(235, 102, 24);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 200;
    margin-right: 5px;
}

.btn-no {
    display: none;
    background-color: rgb(235, 102, 24);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 200;
}

.responsive-div {
    flex-direction: row;
    padding: 5px;
    border: 1px solid #94b5d346;
    border-radius: 8px;
}